* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
  background-color: #0b0b0b;
}

body {
  font-family: var(--font-primary);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
